.blinking-cursor {
    animation: blink 1s step-end infinite;
}

@keyframes blink {
    from,
    to {
        color: transparent;
    }

    50% {
        color: inherit;
    }
}

.typewriter-text .char {
    opacity: 0;
}